<p id="danger"><%= flash[:danger] %></p>
<h1>Log in</h1>
<p id="notice"><%= notice %></p>
<label><label>[Default]</label> User: you@you  Password: bb</label><br><br>
<%= render 'form_login' %>
<%= link_to 'regist', users_regist_path %>